image: "sbtscala/scala-sbt:eclipse-temurin-25_36_1.11.7_3.3.7"

variables:
  SBT_VERSION: "1.10.10"

stages:
  - build
  - test

build:
  stage: build
  script:
    - sbt clean test:compile

test:
  stage: test
  script:
    - sbt test
  dependencies:
    - build
  artifacts:
    when: always
    reports:
      junit: target/test-reports/TEST-*.xml
  allow_failure: true
